
body{
    background-color: wheat;
    font-size: 20px;
}

footer{
    color: white;
    background-color: rgb(122, 92, 14);
    padding: 20px;
    text-align: center;
}
table{
    color: white;
    margin: 0 auto;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
td{
    text-align: center;
}
p{
    color: rgb(32, 14, 5);
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
img{
    margin: 0 auto;
}
